.c-menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
  background: #000;
  border-bottom: 1px solid #ffe81f;
}

.c-menu a {
  color: #ffe81f;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.c-menu a:hover {
  color: #fff;
  text-shadow: 0 0 10px #ffe81f;
}